/* BOXAROO SKIN 4 CSS */
@font-face {font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;font-style: normal;}
@font-face {font-family: 'open_sanslight_italic';
    src: url('fonts/opensans-lightitalic-webfont.eot');
    src: url('fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;font-style: normal;}

/* PRELOADER */
.Box_Pre_GIF_4 img {
	width:50px!important;
	height:50px!important;
	opacity:0.15;
	filter:alpha(opacity=15);}

/* HOVER AND HOVER TEXT */
.Box_Hov_4{}
p.Box_HovTxt_4 {
	font-family:'open_sanslight',sans-serif;
	font-size:28px;
	padding:10px;
	color:#FFFFFF;
	text-align:center;
	text-shadow:0.066em 0.066em rgba(174,144,97,0.5);			
	width:80%;
	height:37%;
	margin:0 auto;	
	cursor:pointer;
	border-radius:5px;
	opacity:0.85;
	filter:alpha(opacity=85);}

/* LIGHTBOX */
.Box_C_4 {}
.Box_C_4 img {}

/* COUNTER */
.Box_Co_4 p {
	font-size:1.25em;
	padding:0;
	color:#5D8440;
	line-height:1.75em;
	text-align:left;
	text-transform:uppercase;
	letter-spacing:0.025em;	
	opacity:0.80;
	filter:alpha(opacity=80);}

/* CAPTIONS CONTAINER */
/* MAKE SURE CAPTIONS STRETCH TO FIT TEXT CONTENT */
/* DIMENSIONS-RELATED PROPERTIES SHOULD BE APPLIED TO THE P TAG WITH !IMPORTANT */
.Box_Caption_4 {	
	background-color:#b3dc86;	
	/*border-top:0.30em solid #713115!important;*/
	padding-top: 10px;
	background-image:url(../../img/bg_body2.png);
	background-position: center -139px;
	/*box-shadow:inset 0em 0.5em 0.25em 0em rgba(206,207,211,0.75);*/}
.Box_Caption_4 p {
	display:inline-block;
	padding:.5em 2em 0em 2em!important;	
	} 

/* CAPTIONS TEXT */
.Box_Caption_4 span.Caption {
	text-transform:uppercase;	
	font-size:1.85em;
	letter-spacing:0.015em;
	color:#ffffff;
	text-align:left;
	margin-left:3em;
	line-height:2.75em;}

/* CAPTIONS GALLERY NAME */
.Box_Caption_4 span.GalleryName {
	letter-spacing:0.025em;
	font-size:1.25em;
	color:#5D8440;
	padding-left:1em;
	text-transform:uppercase;
	line-height:1.75em;
	opacity:0.80;
	filter:alpha(opacity=80);}

/* NAVIGATION AND BUTTONS */
.Box_Cl_4 {}
/*.Box_Next_4 {margin-right: -50px !important}
.Box_Previous_4 {margin-left: -50px !important;}*/

/* ERROR BOX */
.Box_Error_4 {width:100%; height:100%;}

/* ERROR TEXT */
.Box_Error_4 p {
	font-size:1.2em;
	font-family:'open_sanslight', sans-serif;
	color:#43403b;
	text-align:center;
	cursor:default;}
	
/* HTML ELEMENTS (USE EMS FOR SCALABILITY) */
#Box_HTML_Element1_4 *,#Box_HTML_Element2_4 *,#Box_HTML_Element3_4 * {margin:0;padding:0;}

/* HTML ELEMENT 1 - CONTAINER */
#Box_HTML_Element1_4 {	
	width:40em;
	height:auto;
	background:#eefbfe;
	padding:1em;
	border:0.125em solid #9abbcd;	
	box-shadow:0px 0px 10px 5px rgba(154,187,205,0.25);
	display:none;}

/* HTML ELEMENT 1 - HEADER */
#Box_HTML_Element1_4 h1 {
	font-size:2em;
	color:#5e676f;
	font-family:'open_sanslight', sans-serif;
	opacity:0.50;
	filter:alpha(opacity=50);}

/* HTML ELEMENT 1 - TEXT */
#Box_HTML_Element1_4 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#5e676f;
	opacity:0.60;
	font-family:'open_sanslight', sans-serif;	
	filter:alpha(opacity=60);}

/* HTML ELEMENT 1 - IMAGES */
#Box_HTML_Element1_4 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 2 - CONTAINER */
#Box_HTML_Element2_4 {	
	width:40em;
	height:auto;
	background:#eefbfe;
	padding:1em;
	border:0.125em solid #9abbcd;	
	box-shadow:0px 0px 10px 5px rgba(154,187,205,0.25);
	display:none;}

/* HTML ELEMENT 2 - HEADER */
#Box_HTML_Element2_4 h1 {
	font-size:2em;
	color:#5e676f;
	font-family:'open_sanslight', sans-serif;
	opacity:0.50;
	filter:alpha(opacity=50);}

/* HTML ELEMENT 2 - TEXT */
#Box_HTML_Element2_4 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#5e676f;
	opacity:0.60;
	font-family:'open_sanslight', sans-serif;	
	filter:alpha(opacity=60);}

/* HTML ELEMENT 2 - IMAGES */
#Box_HTML_Element2_4 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 3 - CONTAINER */
#Box_HTML_Element3_4 {	
	width:40em;
	height:auto;
	background:#eefbfe;
	padding:1em;
	border:0.125em solid #9abbcd;	
	box-shadow:0px 0px 10px 5px rgba(154,187,205,0.25);
	display:none;}

/* HTML ELEMENT 3 - HEADER */
#Box_HTML_Element3_4 h1 {
	font-size:2em;
	color:#5e676f;
	font-family:'open_sanslight', sans-serif;
	opacity:0.50;
	filter:alpha(opacity=50);}

/* HTML ELEMENT 3 - TEXT */
#Box_HTML_Element3_4 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#5e676f;
	opacity:0.60;
	font-family:'open_sanslight', sans-serif;	
	filter:alpha(opacity=60);}

/* HTML ELEMENT 3 - IMAGES */
#Box_HTML_Element3_4 img {
	width:2em;
	height:auto;
	float:left;}