/* BOXAROO SKIN 1 CSS */
@font-face {
    font-family: 'titilliumregular';
    src: url('fonts/titillium-regular.eot');
    src: url('fonts/titillium-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/titillium-regular.woff') format('woff'),
         url('fonts/titillium-regular.ttf') format('truetype'),
         url('fonts/titillium-regular.svg#titilliumregular') format('svg');
    font-weight: normal;font-style: normal;}

/* PRELOADER */
.Box_Pre_GIF_1 img {
	width:60px!important;
	height:60px!important;
	opacity:0.35;
	filter:alpha(opacity=35);} 

/* HOVER AND HOVER TEXT */
.Box_Hov_1{
	background-image:url('../images/Tiles/bg_6.png');
	background-repeat:repeat;
	}
p.Box_HovTxt_1 {
	font-family:'titilliumregular',sans-serif;
	font-size:16px;
	padding:10px;
	color:#FFFFFF;
	text-align:center;
	width:100%;
	margin:0 auto;
	cursor:pointer;
	border-radius:5px;
	opacity:0.5;
	filter:alpha(opacity=50);}

/* LIGHTBOX */
.Box_C_1 {}
.Box_C_1 img {}

/* COUNTER */
.Box_Co_1 p {
	height:3.75em; /* REQUIRED */
	font-family:'titilliumregular', sans-serif;
	font-size:1.85em;
	padding:0em 1.5em 0 0;
	color:#8c8c8c;
	opacity:0.5!important;
	filter:alpha(opacity=50)!important;
	text-align:center;}

/* CAPTIONS CONTAINER */
.Box_Caption_1 {
	text-align:center;
	background-color:#eae9e9;
	border-radius:1.66em;
	box-shadow:0em 0.416em 0.5em 0.166em rgba(238,238,238,0.5);
	}

/* MAKE SURE CAPTIONS STRETCH TO FIT TEXT CONTENT */
/* DIMENSIONS-RELATED PROPERTIES SHOULD BE APPLIED TO THE P TAG WITH !IMPORTANT */
.Box_Caption_1 p {
	display:inline-block;
	padding:0.5em 4em!important;} 

/* CAPTIONS TEXT */
.Box_Caption_1 span.Caption {
	font-family:'titilliumregular', sans-serif;
	font-size:1.35em;
	letter-spacing:-0.015em;
	color:#565a62;
	line-height:1.95em;
	display:inline-block!important;	}

/* CAPTIONS GALLERY NAME */
.Box_Caption_1 span.GalleryName {
	display:inline-block!important;	
	font-family:'titilliumregular', sans-serif;
	letter-spacing:0.045em;
	font-size:.95em;
	color:#565a62;
	text-align:left;
	text-transform:uppercase;
	padding-left:2em;
	line-height:1.75em;}

/* NAVIGATION AND BUTTONS */
.Box_Cl_1 {}
.Box_Next_1 {}
.Box_Previous_1 {}

/* ERROR BOX */
.Box_Error_1 {width:100%; height:100%;}

/* ERROR TEXT */
.Box_Error_1 p {
	font-size:1em; 
	font-family:'titilliumregular', sans-serif;
	color:#828282;
	text-align:center;
	cursor:default;}

/* HTML ELEMENTS (USE EMS FOR SCALABILITY) */
#Box_HTML_Element1_1 *,#Box_HTML_Element2_1 *,#Box_HTML_Element3_1 *  {margin:0;padding:0;}

/* HTML ELEMENT 1 - CONTAINER */
#Box_HTML_Element1_1 {	
	width:40em;
	height:auto;
	padding:2em;
	background:#222222 url('../images/Tiles/bg_6.png') repeat;
	box-shadow:0px 5px 13px 5px rgba(130,130,130,0.75);
	border:2px solid #d3d3d3;
	border-radius:0.25em;
	display:none;}

/* HTML ELEMENT 1 - HEADER */
#Box_HTML_Element1_1 h1 {
	font-size:2em;
	color:#FFFFFF;
	font-family:'titilliumregular', sans-serif;}

/* HTML ELEMENT 1 - TEXT */
#Box_HTML_Element1_1 p {
	font-size:0.85em;
	line-height:1.5em;
	color:#FFFFFF;}

/* HTML ELEMENT 1 - IMAGES */
#Box_HTML_Element1_1 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 2 - CONTAINER */
#Box_HTML_Element2_1 {	
	width:40em;
	height:auto;
	padding:2em;
	background:#222222 url('../images/Tiles/bg_6.png') repeat;
	box-shadow:0px 5px 13px 5px rgba(130,130,130,0.75);
	border:2px solid #d3d3d3;
	border-radius:0.25em;
	display:none;}

/* HTML ELEMENT 2 - HEADER */
#Box_HTML_Element2_1 h1 {
	font-size:2em;
	color:#FFFFFF;
	font-family:'titilliumregular', sans-serif;}

/* HTML ELEMENT 1 - TEXT */
#Box_HTML_Element2_1 p {
	font-size:0.85em;
	line-height:1.5em;
	color:#FFFFFF;}

/* HTML ELEMENT 2 - IMAGES */
#Box_HTML_Element2_1 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 3 - CONTAINER */
#Box_HTML_Element3_1 {	
	width:40em;
	height:auto;
	padding:2em;
	background:#222222 url('../images/Tiles/bg_6.png') repeat;
	box-shadow:0px 5px 13px 5px rgba(130,130,130,0.75);
	border:2px solid #d3d3d3;
	border-radius:0.25em;
	display:none;}

/* HTML ELEMENT 1 - HEADER */
#Box_HTML_Element3_1 h1 {
	font-size:2em;
	color:#FFFFFF;
	font-family:'titilliumregular', sans-serif;}

/* HTML ELEMENT 1 - TEXT */
#Box_HTML_Element3_1 p {
	font-size:0.85em;
	line-height:1.5em;
	color:#FFFFFF;}

/* HTML ELEMENT 1 - IMAGES */
#Box_HTML_Element3_1 img {
	width:2em;
	height:auto;
	float:left;}	