/* BOXAROO SKIN 2 CSS */
@font-face {font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;font-style: normal;}
@font-face {font-family: 'open_sanslight_italic';
    src: url('fonts/opensans-lightitalic-webfont.eot');
    src: url('fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;font-style: normal;}

/* PRELOADER */
.Box_Pre_GIF_2 img {
	width:55px!important;
	height:55px!important;
	opacity:0.15;
	filter:alpha(opacity=15);}

/* HOVER AND HOVER TEXT */
.Box_Hov_2{
	background-image:url('../images/Tiles/bg_9.png');
	background-repeat:repeat;	
	}
p.Box_HovTxt_2 {
	background-color:#d5d6d4;
	padding:2px;
	border-radius:6px;
	font-family:'open_sanslight',sans-serif;
	font-size:20px;
	border:1px solid #FFFFFF;
	padding:8px;
	color:#FFFFFF;
	text-align:center;
	width:80%;
	margin:0 auto;	
	cursor:pointer;
	opacity:0.85;
	word-wrap:normal;
	line-height:24px;}

/* LIGHTBOX */
.Box_C_2 {}
.Box_C_2 img {}

/* COUNTER */
.Box_Co_2 p {
	height:1.75em; /* REQUIRED */
	font-family:'open_sanslight', sans-serif;
	padding:0;
	line-height:1.75em;
	letter-spacing:0.025em;
	font-size:.95em;
	color:#828282;	
	text-align:left;
	opacity:0.5;
	filter:alpha(opacity=100);}


/* CAPTIONS CONTAINER */
/* MAKE SURE CAPTIONS STRETCH TO FIT TEXT CONTENT */
/* DIMENSIONS-RELATED PROPERTIES SHOULD BE APPLIED TO THE P TAG WITH !IMPORTANT */
.Box_Caption_2 {text-align:right;}
.Box_Caption_2 p {display:inline-block;} 

/* CAPTIONS TEXT */
.Box_Caption_2 span.Caption {
	display:inline-block!important;	
	font-family:'open_sanslight', sans-serif;
	font-size:.95em;
	letter-spacing:0.025em;
	color:#858585;
	line-height:1.75em;
	}

/* CAPTIONS GALLERY NAME */
.Box_Caption_2 span.GalleryName {
	display:inline-block!important;	
	font-family:'open_sanslight', sans-serif;
	letter-spacing:0.025em;
	font-size:.95em;
	color:#858585;
	text-align:left;
	text-transform:uppercase;
	padding-left:1.25em;
	line-height:1.75em;
	}


/* NAVIGATION AND BUTTONS */
.Box_Cl_2 {}
.Box_Next_2 {}
.Box_Previous_2 {}

/* ERROR BOX */
.Box_Error_2 {
	width:100%; height:100%;}

/* ERROR TEXT */
.Box_Error_2 p {
	font-size:1.15em;
	font-family:'open_sanslight', sans-serif;
	color:#828282;
	text-align:center;
	cursor:default;}
/* HTML ELEMENTS (USE EMS FOR SCALABILITY) */
#Box_HTML_Element1_2 *,#Box_HTML_Element2_2 *,#Box_HTML_Element3_2 *  {margin:0;padding:0;}

/* HTML ELEMENT 1 - CONTAINER */
#Box_HTML_Element1_2 {	
	width:40em;
	height:auto;
	padding:2em;
	background:#eeede9;
	box-shadow:0px 5px 10px 0px rgba(130,130,130,0.75);
	border:2px solid #b1b1b1;
	border-radius:0.5em;
	display:none;}

/* HTML ELEMENT 1 - HEADER */
#Box_HTML_Element1_2 h1 {
	font-size:2em;
	color:#9b9b9b;
	font-family:'open_sanslight', sans-serif;}

/* HTML ELEMENT 1 - TEXT */
#Box_HTML_Element1_2 p {
	font-size:0.85em;
	line-height:1.5em;
	color:#b1b1b1;}

/* HTML ELEMENT 1 - IMAGES */
#Box_HTML_Element1_2 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 2 - CONTAINER */
#Box_HTML_Element2_2 {	
	width:40em;
	height:auto;
	padding:2em;
	background:#eeede9;
	box-shadow:0px 5px 10px 0px rgba(130,130,130,0.75);
	border:2px solid #b1b1b1;
	border-radius:0.5em;
	display:none;}

/* HTML ELEMENT 2 - HEADER */
#Box_HTML_Element2_2 h1 {
	font-size:2em;
	color:#9b9b9b;
	font-family:'open_sanslight', sans-serif;}

/* HTML ELEMENT 2 - TEXT */
#Box_HTML_Element2_2 p {
	font-size:0.85em;
	line-height:1.5em;
	color:#b1b1b1;}

/* HTML ELEMENT 2 - IMAGES */
#Box_HTML_Element2_2 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 3 - CONTAINER */
#Box_HTML_Element3_2 {	
	width:40em;
	height:auto;
	padding:2em;
	background:#eeede9;
	box-shadow:0px 5px 10px 0px rgba(130,130,130,0.75);
	border:2px solid #b1b1b1;
	border-radius:0.5em;
	display:none;}

/* HTML ELEMENT 3 - HEADER */
#Box_HTML_Element3_2 h1 {
	font-size:2em;
	color:#9b9b9b;
	font-family:'open_sanslight', sans-serif;}

/* HTML ELEMENT 3 - TEXT */
#Box_HTML_Element3_2 p {
	font-size:0.85em;
	line-height:1.5em;
	color:#b1b1b1;}

/* HTML ELEMENT 3 - IMAGES */
#Box_HTML_Element3_2 img {
	width:2em;
	height:auto;
	float:left;}