/* BOXAROO SKIN 6 CSS */
@font-face {
    font-family: 'steelfishregular';
    src: url('fonts/steelfish_rg.eot');
    src: url('fonts/steelfish_rg.eot?#iefix') format('embedded-opentype'),
         url('fonts/steelfish_rg.woff') format('woff'),
         url('fonts/steelfish_rg.ttf') format('truetype'),
         url('fonts/steelfish_rg.svg#steelfishregular') format('svg');
    font-weight: normal;font-style: normal;
}
/* PRELOADER */
.Box_Pre_GIF_6 img {
	width:55px!important;
	height:26px!important;
	opacity:0.15;
	filter:alpha(opacity=15);}	

/* HOVER AND HOVER TEXT */
.Box_Hov_6{}
p.Box_HovTxt_6 {
	font-family:'steelfishregular',sans-serif;
	font-size:40px;
	padding:10px;
	color:#ab0431;
	text-align:center;
	width:80%;
	margin:0 auto;	
	cursor:pointer;
	border-radius:5px;
	opacity:0.35;
	filter:alpha(opacity=35);
	text-shadow:-2px -2px 1px rgba(254,242,237,1);
	line-height:40px;}

/* LIGHTBOX */
.Box_C_6 {}
.Box_C_6 img {}

/* COUNTER */
.Box_Co_6 {height:1.5em;}
.Box_Co_6 p {
	font-family:'steelfishregular', sans-serif;
	font-size:1.5em;
	padding:0;
	color:#FFFFFF;
	line-height:1em;
	text-align:left;
	opacity:0.5;
	filter:alpha(opacity=50);}

/* CAPTIONS - CONTAINER */
/* MAKE SURE CAPTIONS STRETCH TO FIT TEXT CONTENT */
/* DIMENSIONS-RELATED PROPERTIES SHOULD BE APPLIED TO THE P TAG WITH !IMPORTANT */
.Box_Caption_6 p {display:inline-block;height:1.5em;} 

/* CAPTIONS - TEXT */
.Box_Caption_6 span.Caption {
	font-family:'steelfishregular', sans-serif;
	font-size:1.5em;
	padding:0;
	color:#FFFFFF;
	line-height:1em;
	text-align:left;
	padding-left:0.25em;
	opacity:0.5;
	filter:alpha(opacity=50);}

/* CAPTIONS - GALLERY NAME */
.Box_Caption_6 span.GalleryName {
	font-family:'steelfishregular', sans-serif;
	font-size:1.5em;
	padding:0;
	color:#FFFFFF;
	line-height:1em;
	text-align:left;
	padding-left:0.30em;
	opacity:0.5;
	filter:alpha(opacity=50);}

/* NAVIGATION AND BUTTONS */
.Box_Cl_6 {}
.Box_Next_6 {}
.Box_Previous_6 {}

/* ERROR BOX */
.Box_Error_6 {width:100%; height:100%;}

/* ERROR TEXT */
.Box_Error_6 p {
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	color:#9a9a9a;
	text-transform:capitalize;
	text-align:center;
	cursor:default;}
	
/* HTML ELEMENTS (USE EMS FOR SCALABILITY) */
#Box_HTML_Element1_6 *,#Box_HTML_Element2_6 *,#Box_HTML_Element3_6 * {margin:0;padding:0;}

/* HTML ELEMENT 1 - CONTAINER */
#Box_HTML_Element1_6 {	
	width:40em;
	height:auto;
	background:#FFFFFF url('../images/Tiles/bg_8.png') repeat;
	padding:1em;
	border:0.25em solid #9a9a9a;
	box-shadow:0px 0px 10px 5px rgba(255,255,255,0.25);
	display:none;}

/* HTML ELEMENT 1 - HEADER */
#Box_HTML_Element1_6 h1 {
	font-size:2em;
	color:#9a9a9a;
	font-family:'steelfishregular', sans-serif;}

/* HTML ELEMENT 1 - TEXT */
#Box_HTML_Element1_6 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#9a9a9a;
	opacity:0.80;
	font-family:Arial, Helvetica, sans-serif;
	filter:alpha(opacity=80);}

/* HTML ELEMENT 1 - IMAGES */
#Box_HTML_Element1_6 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 2 - CONTAINER */
#Box_HTML_Element2_6 {	
	width:40em;
	height:auto;
	background:#FFFFFF url('../images/Tiles/bg_8.png') repeat;
	padding:1em;
	border:0.25em solid #9a9a9a;
	box-shadow:0px 0px 10px 5px rgba(255,255,255,0.25);
	display:none;}

/* HTML ELEMENT 2 - HEADER */
#Box_HTML_Element2_6 h1 {
	font-size:2em;
	color:#9a9a9a;
	font-family:'steelfishregular', sans-serif;}

/* HTML ELEMENT 2 - TEXT */
#Box_HTML_Element2_6 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#9a9a9a;
	opacity:0.80;
	font-family:Arial, Helvetica, sans-serif;
	filter:alpha(opacity=80);}

/* HTML ELEMENT 2 - IMAGES */
#Box_HTML_Element2_6 img {
	width:2em;
	height:auto;
	float:left;}	

/* HTML ELEMENT 3 - CONTAINER */
#Box_HTML_Element3_6 {	
	width:40em;
	height:auto;
	background:#FFFFFF url('../images/Tiles/bg_8.png') repeat;
	padding:1em;
	border:0.25em solid #9a9a9a;
	box-shadow:0px 0px 10px 5px rgba(255,255,255,0.25);
	display:none;}

/* HTML ELEMENT 3 - HEADER */
#Box_HTML_Element3_6 h1 {
	font-size:2em;
	color:#9a9a9a;
	font-family:'steelfishregular', sans-serif;}

/* HTML ELEMENT 3 - TEXT */
#Box_HTML_Element3_6 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#9a9a9a;
	opacity:0.80;
	font-family:Arial, Helvetica, sans-serif;
	filter:alpha(opacity=80);}

/* HTML ELEMENT 3 - IMAGES */
#Box_HTML_Element3_6 img {
	width:2em;
	height:auto;
	float:left;}