/* BOXAROO SKIN 5 CSS */
@font-face {font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-light-webfont.woff') format('woff'),
         url('fonts/opensans-light-webfont.ttf') format('truetype'),
         url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;font-style: normal;}

/* PRELOADER */
.Box_Pre_GIF_5 img {
	width:60px!important;
	height:60px!important;
	opacity:0.35;
	filter:alpha(opacity=35);}
	
/* HOVER AND HOVER TEXT */
.Box_Hov_5{}
p.Box_HovTxt_5 {
	font-family:'open_sanslight',sans-serif;
	font-size:22px;
	padding:10px;
	color:#FFFFFF;
	text-align:center;
	width:80%;
	margin:0 auto;	
	cursor:pointer;
	line-height:24px;
	border-radius:5px;}

/* LIGHTBOX */
.Box_C_5 {}
.Box_C_5 img {}

/* COUNTER */
.Box_Co_5 p {
	font-family:'open_sanslight',sans-serif;
	font-size:1.2em;
	padding:0;
	letter-spacing:0.015em;	
	color:#FFFFFF;
	line-height:1.75em;
	text-align:left;}

/* CAPTIONS - CONTAINER */
/* MAKE SURE CAPTIONS STRETCH TO FIT TEXT CONTENT */
/* DIMENSIONS-RELATED PROPERTIES SHOULD BE APPLIED TO THE P TAG WITH !IMPORTANT */
.Box_Caption_5 {}
.Box_Caption_5 p {display:inline-block;} 

/* CAPTIONS - TEXT */
.Box_Caption_5 span.Caption {
	font-family:'open_sanslight',sans-serif;
	font-size:1.2em;
	letter-spacing:0.015em;
	color:#FFFFFF;	
	text-align:center;
	line-height:1em;}

/* CAPTIONS - GALLERY NAME */
.Box_Caption_5 span.GalleryName {
	font-family:'open_sanslight',sans-serif;
	letter-spacing:0.015em;
	font-size:1.2em;
	color:#eff1ff;
	line-height:1.75em;
	padding-left:0.5em;}

/* NAVIGATION AND BUTTONS */
.Box_Cl_5 {}
.Box_Next_5 {}
.Box_Previous_5 {}

/* ERROR BOX */
.Box_Error_5 {width:100%; height:100%;}
/* ERROR TEXT */
.Box_Error_5 p {
	font-size:1.2em;
	font-family:'open_sanslight',sans-serif;
	color:#eff1ff;
	text-transform:capitalize;
	text-align:center;
	cursor:default;}

/* HTML ELEMENTS (USE EMS FOR SCALABILITY) */
#Box_HTML_Element1_5 *,#Box_HTML_Element2_5 *,#Box_HTML_Element3_5 * {margin:0;padding:0;}

/* HTML ELEMENT 1 - CONTAINER */
#Box_HTML_Element1_5 {	
	width:40em;
	height:auto;
	background:#4e4749;
	padding:1em;
	border:0.5em solid #5f4c47;
	border-radius:.75em;
	box-shadow:0px 0px 5px 5px rgba(34,34,34,0.25);
	display:none;}

/* HTML ELEMENT 1 - HEADER */
#Box_HTML_Element1_5 h1 {
	font-size:2em;
	color:#eff1ff;
	font-family:'open_sanslight',sans-serif;
	opacity:0.25;
	filter:alpha(opacity=25);}

/* HTML ELEMENT 1 - TEXT */
#Box_HTML_Element1_5 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#eff1ff;
	font-family:'open_sanslight', sans-serif;}

/* HTML ELEMENT 1 - IMAGES */
#Box_HTML_Element1_5 img {
	width:2em;
	height:auto;
	float:left;}

/* HTML ELEMENT 2 - CONTAINER */
#Box_HTML_Element2_5 {	
	width:40em;
	height:auto;
	background:#4e4749;
	padding:1em;
	border:0.5em solid #5f4c47;
	border-radius:.75em;
	box-shadow:0px 0px 5px 5px rgba(34,34,34,0.25);
	display:none;}

/* HTML ELEMENT 2 - HEADER */
#Box_HTML_Element2_5 h1 {
	font-size:2em;
	color:#eff1ff;
	font-family:'open_sanslight',sans-serif;}

/* HTML ELEMENT 2 - TEXT */
#Box_HTML_Element2_5 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#eff1ff;
	font-family:'open_sanslight',sans-serif;}

/* HTML ELEMENT 2 - IMAGES */
#Box_HTML_Element2_5 img {
	width:2em;
	height:auto;
	float:left;}	

/* HTML ELEMENT 3 - CONTAINER */
#Box_HTML_Element3_5 {	
	width:40em;
	height:auto;
	background:#4e4749;
	padding:1em;
	border:0.5em solid #5f4c47;
	border-radius:.75em;
	box-shadow:0px 0px 5px 5px rgba(34,34,34,0.25);
	display:none;}

/* HTML ELEMENT 3 - HEADER */
#Box_HTML_Element3_5 h1 {
	font-size:2em;
	color:#eff1ff;
	font-family:'open_sanslight',sans-serif;}

/* HTML ELEMENT 3 - TEXT */
#Box_HTML_Element3_5 p {
	font-size:0.85em;
	line-height:1.75em;
	color:#eff1ff;
	font-family:'open_sanslight', sans-serif;}

/* HTML ELEMENT 3 - IMAGES */
#Box_HTML_Element3_5 img {
	width:2em;
	height:auto;
	float:left;}